.createWrapper {
  .createContent {
    width: 100%;

    .optionDiv {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      flex-shrink: 1;
      justify-content: space-between;

      .optionContainer {
        width: 30%;
        text-align: center;

        .optionButton {
          margin-top: 1vw;
          margin-bottom: 2vw;
          width: 100%;
          padding: 1vw;
          border-radius: 25px;
          border: 5px $background-colour dashed;
          background-color: $secondary-colour;
          font-family: $body-font;
          color: $tertiary-colour;
          font-weight: bolder;
          @include transition-time;
          @include fluid-type(320px, 1200px, 20px, 25px);

          &:hover {
            cursor: pointer;
            color: $secondary-colour;
            background-color: $tertiary-colour;
            border: none;
            animation: rock 2s infinite ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-10deg) scale(1.15);
  }
  50% {
    transform: rotate(10deg) scale(1.15);
  }
}
