.createWrapper {
  .createContent {
    width: 100%;

    .createDocPicHolder {
      margin: 0 auto;
      height: 30vw;
      overflow: hidden;
      text-align: center;

      .createDocPic {
        height: 100%;
      }
    }

    .optionDiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .optionContainer {
        width: 25%;
        margin: 1%;
        .optionImageContainer {
          width: 90%;
          .optionImageImage {
            width: 100%;
            &:hover {
              animation: rock 2s infinite ease-in-out;
            }
          }
        }
        .optionButton {
          width: 100%;
        }
      }
    }
  }
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-10deg) scale(1.15);
  }
  50% {
    transform: rotate(10deg) scale(1.15);
  }
}
