.headerWrapper {
  margin-top: 5vw;
  width: 100%;

  .headerContent {
    width: 70%;
    margin: 0 auto;
    text-align: center;

    .headerImage {
      position: relative;
      width: 100%;
      height: 20vw;
      @include transition-time;

      &:hover .imageSpeech {
        visibility: visible;
      }
      .imageSpeech {
        visibility: hidden;
        position: relative;
        top: 0;
        width: 70%;
        margin: 0 auto;
        background-color: rgba(21, 97, 109, 0.75);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 0.5vw;
        z-index: 12;
        font-family: $body-font;
        @include fluid-type(320px, 1200px, 12px, 25px);
        animation: rock 2s infinite ease-in-out;

        &::after {
          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: rgba(21, 97, 109, 0.75) transparent transparent
            transparent;
        }
      }

      .headerImageImage {
        height: 100%;

        &:hover {
          cursor: pointer;
          animation: rock 2s infinite ease-in-out;
        }
      }
    }

    .headerTitle {
      margin-top: 3vw;
      h1 {
        letter-spacing: 0.15em;
        font-family: $title-font;
        font-variant: small-caps;
        color: $link-highlight;
        @include fluid-type(320px, 1200px, 50px, 90px);
      }
    }
  }
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-10deg) scale(1.15);
  }
  50% {
    transform: rotate(10deg) scale(1.15);
  }
}
