.navWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $secondary-colour;
  border-bottom: 5px dashed $background-colour;
  z-index: 9;

  .navContent {
    width: 90%;
    margin: 0 auto;
    padding: 1vw 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-variant: small-caps;

    .navLeftCol {
      width: 30%;
      font-family: $title-font;
      letter-spacing: 0.25em;
      @include fluid-type(320px, 1200px, 18px, 35px);
    }
    .navRightCol {
      font-family: $title-font;
      justify-content: space-between;
      @include fluid-type(320px, 1200px, 15px, 35px);

      .navItem {
        margin-left: 3vw;
        color: $link-colour;

        &:hover {
          color: $link-highlight;
        }
      }
    }
  }
}
