.bestiaryWrapper {
  width: 100%;

  .bestiaryContainer {
    .patchesContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      button {
        padding: 1vw;
        border-radius: 25px;
        border: 5px $background-colour dashed;
        background-color: $secondary-colour;
        font-family: $body-font;
        color: $tertiary-colour;
        font-weight: bolder;
        @include transition-time;
        @include fluid-type(320px, 1200px, 9px, 20px);

        &:hover {
          cursor: pointer;
          color: $secondary-colour;
          background-color: $tertiary-colour;
          border: none;
        }
      }
      .patchContainer {
        flex: 1 1 45%;
        align-self: end;
        align-items: stretch;
        text-align: center;
        margin: 2vw 0.5vw;

        @include fluid-type(320px, 1200px, 16px, 20px);

        .patchNameCont {
          font-family: $title-font;
          color: $link-colour;
          line-height: 1.5em;
          @include fluid-type(320px, 1200px, 18px, 30px);
        }

        .patchCreatorCont {
          margin-top: 1vw;
          h4 {
            font-family: $title-font;
            color: $link-colour;
            opacity: 0.75;
            line-height: 1.5em;
            @include fluid-type(320px, 1200px, 13px, 27px);
          }
        }

        .patchOptions {
          padding: 1vw;
          width: 70%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          button {
            width: 45%;
          }

          .recycleButton {
            color: #cd3800;
            background-color: rgba(220, 20, 60, 0.5);
            border-color: #cd3800;

            &:hover {
              cursor: pointer;
              color: $background-colour;
              background-color: #ff0000;
            }
          }
        }

        .patchImageContainer {
          margin: 3vh auto 0;
          width: 50%;
          height: 50%;
          overflow: hidden;
          line-height: normal;

          .patchGreeting {
            position: relative;
            top: 0;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.5);
            color: #000;
            text-align: center;
            border-radius: 6px;
            padding: 0.5vw;
            font-family: $body-font;
            font-weight: bolder;
            @include fluid-type(320px, 1200px, 10px, 18px);

            &::after {
              content: " ";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: rgba(255, 255, 255, 0.5) transparent transparent
                transparent;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .changeGreeting {
          width: 80%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
        }

        input {
          width: 70%;
          padding: 0.75vw;
          border: none;
          background-color: $link-colour;
          color: #fff;
          border-radius: 5vw;
          font-family: $body-font;
          font-weight: bolder;
          @include fluid-type(320px, 1200px, 10px, 18px);
        }
      }
    }
  }
}
