@import "variables", "header", "navbar", "create";

body {
  background-color: $background-colour;
  width: 100vw;

  p {
    font-family: $body-font;
    line-height: 1.8em;
    margin-bottom: 0.5em;
    @include fluid-type(320px, 1200px, 20px, 25px);
  }

  .content {
    width: 80%;
    margin: 7vw auto;
    background-color: $secondary-colour;
    padding: 5%;
    border-radius: 25px;
    border: 5px dashed $background-colour;
  }

  hr {
    border: none;
    border-top: 5px dashed $background-colour;
  }

  a {
    text-decoration: none;
    font-weight: bolder;
    color: $link-highlight;
    @include transition-time;

    &:hover {
      color: $link-colour;
    }
  }

  h1 {
    letter-spacing: 0.15em;
    font-family: $title-font;
    color: $link-highlight;
    @include fluid-type(320px, 1200px, 30px, 50px);
  }

  h2 {
    font-family: $title-font;
    line-height: 2em;
    color: $tertiary-colour;
    @include fluid-type(320px, 1200px, 25px, 30px);
  }

  b {
    font-weight: bolder;
    color: $background-colour;
  }
}
