@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300&family=Freckle+Face&display=swap");
.headerWrapper {
  margin-top: 5vw;
  width: 100%;
}

.headerWrapper .headerContent {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.headerWrapper .headerContent .headerImage {
  position: relative;
  width: 100%;
  height: 20vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.headerWrapper .headerContent .headerImage:hover .imageSpeech {
  visibility: visible;
}

.headerWrapper .headerContent .headerImage .imageSpeech {
  visibility: hidden;
  position: relative;
  top: 0;
  width: 70%;
  margin: 0 auto;
  background-color: rgba(21, 97, 109, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5vw;
  z-index: 12;
  font-family: "Grandstander", cursive;
  -webkit-animation: rock 2s infinite ease-in-out;
          animation: rock 2s infinite ease-in-out;
}

.headerWrapper .headerContent .headerImage .imageSpeech {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .headerWrapper .headerContent .headerImage .imageSpeech {
    font-size: calc( 12px + 13 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .headerWrapper .headerContent .headerImage .imageSpeech {
    font-size: 25px;
  }
}

.headerWrapper .headerContent .headerImage .imageSpeech::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(21, 97, 109, 0.75) transparent transparent transparent;
}

.headerWrapper .headerContent .headerImage .headerImageImage {
  height: 100%;
}

.headerWrapper .headerContent .headerImage .headerImageImage:hover {
  cursor: pointer;
  -webkit-animation: rock 2s infinite ease-in-out;
          animation: rock 2s infinite ease-in-out;
}

.headerWrapper .headerContent .headerTitle {
  margin-top: 3vw;
}

.headerWrapper .headerContent .headerTitle h1 {
  letter-spacing: 0.15em;
  font-family: "Freckle Face", cursive;
  font-variant: small-caps;
  color: #ff7d00;
}

.headerWrapper .headerContent .headerTitle h1 {
  font-size: 50px;
}

@media screen and (min-width: 320px) {
  .headerWrapper .headerContent .headerTitle h1 {
    font-size: calc( 50px + 40 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .headerWrapper .headerContent .headerTitle h1 {
    font-size: 90px;
  }
}

@-webkit-keyframes rock {
  0%,
  100% {
    -webkit-transform: rotate(-10deg) scale(1.15);
            transform: rotate(-10deg) scale(1.15);
  }
  50% {
    -webkit-transform: rotate(10deg) scale(1.15);
            transform: rotate(10deg) scale(1.15);
  }
}

@keyframes rock {
  0%,
  100% {
    -webkit-transform: rotate(-10deg) scale(1.15);
            transform: rotate(-10deg) scale(1.15);
  }
  50% {
    -webkit-transform: rotate(10deg) scale(1.15);
            transform: rotate(10deg) scale(1.15);
  }
}

.navWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #15616d;
  border-bottom: 5px dashed #001524;
  z-index: 9;
}

.navWrapper .navContent {
  width: 90%;
  margin: 0 auto;
  padding: 1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-variant: small-caps;
}

.navWrapper .navContent .navLeftCol {
  width: 30%;
  font-family: "Freckle Face", cursive;
  letter-spacing: 0.25em;
}

.navWrapper .navContent .navLeftCol {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .navWrapper .navContent .navLeftCol {
    font-size: calc( 18px + 17 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navWrapper .navContent .navLeftCol {
    font-size: 35px;
  }
}

.navWrapper .navContent .navRightCol {
  font-family: "Freckle Face", cursive;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navWrapper .navContent .navRightCol {
  font-size: 15px;
}

@media screen and (min-width: 320px) {
  .navWrapper .navContent .navRightCol {
    font-size: calc( 15px + 20 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .navWrapper .navContent .navRightCol {
    font-size: 35px;
  }
}

.navWrapper .navContent .navRightCol .navItem {
  margin-left: 3vw;
  color: #001524;
}

.navWrapper .navContent .navRightCol .navItem:hover {
  color: #ff7d00;
}

.createWrapper .createContent {
  width: 100%;
}

.createWrapper .createContent .optionDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createWrapper .createContent .optionDiv .optionContainer {
  width: 30%;
  text-align: center;
}

.createWrapper .createContent .optionDiv .optionContainer .optionButton {
  margin-top: 1vw;
  margin-bottom: 2vw;
  width: 100%;
  padding: 1vw;
  border-radius: 25px;
  border: 5px #001524 dashed;
  background-color: #15616d;
  font-family: "Grandstander", cursive;
  color: #2ec4b6;
  font-weight: bolder;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.createWrapper .createContent .optionDiv .optionContainer .optionButton {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .createWrapper .createContent .optionDiv .optionContainer .optionButton {
    font-size: calc( 20px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .createWrapper .createContent .optionDiv .optionContainer .optionButton {
    font-size: 25px;
  }
}

.createWrapper .createContent .optionDiv .optionContainer .optionButton:hover {
  cursor: pointer;
  color: #15616d;
  background-color: #2ec4b6;
  border: none;
}

.createWrapper .createContent .optionDiv .optionContainer .active {
  color: #15616d;
  background-color: #2ec4b6;
  border: none;
}

.createWrapper .createContent .dropdown {
  width: 100%;
  padding: 1vw;
  margin: 0 auto;
  margin-bottom: 1vw;
  font-family: "Grandstander", cursive;
  font-weight: bolder;
  background-color: #2ec4b6;
  border-radius: 25px;
}

.createWrapper .createContent .dropdown {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .createWrapper .createContent .dropdown {
    font-size: calc( 20px + 10 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .createWrapper .createContent .dropdown {
    font-size: 30px;
  }
}

.createWrapper .createContent .workshopPatchContainer {
  width: 100%;
}

.createWrapper .createContent .workshopPatchContainer .wsPatchImageCont {
  text-align: center;
  height: 40vw;
  margin: 3vw;
}

.createWrapper .createContent .workshopPatchContainer .wsPatchImageCont .wsPatchImageImage {
  height: 90%;
}

.createWrapper .createContent .workshopPatchContainer .formGroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw;
}

.createWrapper .createContent .workshopPatchContainer .formGroup {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .createWrapper .createContent .workshopPatchContainer .formGroup {
    font-size: calc( 18px + 7 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .createWrapper .createContent .workshopPatchContainer .formGroup {
    font-size: 25px;
  }
}

.createWrapper .createContent .workshopPatchContainer .formGroup label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.createWrapper .createContent .workshopPatchContainer .formGroup input {
  width: 80%;
  padding: 2vw;
  border: none;
  background-color: #001524;
  color: #fff;
  border-radius: 5vw;
  font-family: "Grandstander", cursive;
  font-weight: bolder;
}

.createWrapper .createContent .workshopPatchContainer .formGroup input {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  .createWrapper .createContent .workshopPatchContainer .formGroup input {
    font-size: calc( 13px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .createWrapper .createContent .workshopPatchContainer .formGroup input {
    font-size: 18px;
  }
}

.createWrapper .createContent .workshopPatchContainer .wsTitle {
  width: 100%;
  text-align: center;
  font-family: "Freckle Face", cursive;
  font-weight: bolder;
  color: #001524;
  letter-spacing: 0.25em;
  margin-bottom: 5vw;
}

.createWrapper .createContent .workshopPatchContainer .wsTitle {
  font-size: 19px;
}

@media screen and (min-width: 320px) {
  .createWrapper .createContent .workshopPatchContainer .wsTitle {
    font-size: calc( 19px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .createWrapper .createContent .workshopPatchContainer .wsTitle {
    font-size: 27px;
  }
}

.createWrapper .createContent .workshopPatchContainer .wsName {
  font-family: "Grandstander", cursive;
}

.createWrapper .createContent .submitBtn {
  width: 100%;
  margin-top: 3vw;
  margin-bottom: 1vw;
  padding: 1vw;
  border-radius: 25px;
  border: 5px #001524 dashed;
  background-color: #15616d;
  font-family: "Grandstander", cursive;
  color: #2ec4b6;
  font-weight: bolder;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.createWrapper .createContent .submitBtn {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .createWrapper .createContent .submitBtn {
    font-size: calc( 20px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .createWrapper .createContent .submitBtn {
    font-size: 25px;
  }
}

.createWrapper .createContent .submitBtn:hover {
  cursor: pointer;
  color: #15616d;
  background-color: #2ec4b6;
  border: none;
}

.createWrapper .createContent .small {
  width: 40%;
}

.bestiaryWrapper {
  width: 100%;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: center;
  margin: 1vw 0.5vw 2vw 0.5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer {
    font-size: calc( 16px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer {
    font-size: 20px;
  }
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchNameCont {
  font-family: "Freckle Face", cursive;
  color: #001524;
  border: 3px dashed #001524;
  padding: 1vw;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.2);
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchNameCont {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchNameCont {
    font-size: calc( 18px + 12 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchNameCont {
    font-size: 30px;
  }
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchCreatorCont {
  margin-top: 1vw;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchCreatorCont h4 {
  font-family: "Freckle Face", cursive;
  color: #001524;
  opacity: 0.75;
  line-height: 1.5em;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchCreatorCont h4 {
  font-size: 13px;
}

@media screen and (min-width: 320px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchCreatorCont h4 {
    font-size: calc( 13px + 14 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchCreatorCont h4 {
    font-size: 27px;
  }
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchOptions {
  padding: 1vw;
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchOptions button {
  width: 25%;
  padding: 0.5vw;
  border-radius: 25px;
  border: none;
  background-color: red;
  color: #fff;
  font-family: "Grandstander", cursive;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchOptions button {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchOptions button {
    font-size: calc( 18px + 4 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  .bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchOptions button {
    font-size: 22px;
  }
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchImageContainer {
  margin: 3vh auto 0;
  width: 50%;
  height: 50%;
  overflow: hidden;
  line-height: normal;
}

.bestiaryWrapper .bestiaryContainer .patchesContainer .patchContainer .patchImageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #001524;
  width: 100vw;
}

body p {
  font-family: "Grandstander", cursive;
  line-height: 1.8em;
  margin-bottom: 0.5em;
}

body p {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  body p {
    font-size: calc( 20px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  body p {
    font-size: 25px;
  }
}

body .content {
  width: 80%;
  margin: 2vw auto;
  background-color: #15616d;
  padding: 5%;
  border-radius: 25px;
  border: 5px dashed #001524;
}

body hr {
  margin: 5vw 0;
  border: none;
  border-top: 5px dashed #001524;
}

body a {
  text-decoration: none;
  font-weight: bolder;
  color: #ff7d00;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body a:hover {
  color: #001524;
}

body h1 {
  letter-spacing: 0.15em;
  font-family: "Freckle Face", cursive;
  color: #ff7d00;
}

body h1 {
  font-size: 30px;
}

@media screen and (min-width: 320px) {
  body h1 {
    font-size: calc( 30px + 20 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  body h1 {
    font-size: 50px;
  }
}

body h2 {
  font-family: "Freckle Face", cursive;
  line-height: 2em;
  color: #2ec4b6;
}

body h2 {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  body h2 {
    font-size: calc( 25px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  body h2 {
    font-size: 30px;
  }
}

body b {
  font-weight: bolder;
  color: #001524;
}

body .Argyle {
  color: #fcd59c;
}

body .Checkered {
  color: #c1cdcd;
}

body .Denim {
  color: #00bfff;
}

body .Plaid {
  color: #a68064;
}

body .Polkadot {
  color: #cd2626;
}
/*# sourceMappingURL=style.css.map */